@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

/* START - Nav Link Active Styles */
.active {
  @apply border-stone-200 bg-white
}
/* END - Nav Link Active Styles */

/* START - Modal Styles */
@keyframes overlay-show {
  0% { opacity: 0; }
}

@keyframes overlay-hide {
  100% { opacity: 0; }
}

@keyframes dialog-show {
  0% {
    opacity: 0;
    transform:  translateY(50px)
  }
}

@media (min-width: 640px) { 
  @keyframes dialog-show {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.95);
    }
  
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

@keyframes dialog-hide {
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

@media (min-width: 640px) { 
  @keyframes dialog-hide {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
  
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.95);
    }
  }
}
/* END - Modal Styles */

/* START - Toast Styles */
@keyframes toast-show {
  0% {
    max-height: 0;
    opacity: 0;
  }

  100% {
    max-height: 3rem;
    opacity: 1;
  }
}

@keyframes toast-hide {
  0% {
    max-height: 3rem;
    opacity: 1;
  }

  100% {
    max-height: 0;
    opacity: 0;
  }
}
/* END - Toast Styles */
